{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 10%; margin-left: 35%; background-color: #ffffff; width: 30%; padding-left: 3%;">

        <form action="{{ path('security_login') }}" method="post">
            <h4>Connection sur loc'pilote</h4>
            <div class="form-group">
                <label for="exampleInputEmail1">Votre adresse mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="_username" placeholder="Adresse mail">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" name="_password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Resté connecter</label>
            </div>
            <button type="submit" class="btn btn-primary">Connecter</button>
        </form>
        <div>
            <a href="{{ path('loc_home') }}">Retour</a>
        </div>
    </div>

{% endblock %}

{% block menu %}

{% endblock %}
