
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Connection sur Loc'location</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body >

<div class="limiter">
    <div class="container-login100">


                <a><img src="{{ asset ('loc_app/img/logo.png')}}" width="100%"/></a>
                <span class="login100-form-title p-b-43">
           Inscription
          </span>

                {{ form_start(form) }}
                {{ form_row(form.email, {'label':'Votre Email*', 'attr':{'placeholder':'Adresse mail'}}) }}
                {{ form_row(form.nom, {'label':'Votre Nom', 'attr':{'placeholder':'Votre nom'}}) }}
                {{ form_row(form.prenom, {'label':'Votre Prenom', 'attr':{'placeholder':'Votre prénom'}}) }}
                {{ form_row(form.telephone, {'label':'Votre Téléphone', 'attr':{'placeholder':'Votre téléphone'}}) }}
                {{ form_row(form.dateArrive) }}
                {{ form_row(form.dateDepart) }}
                {{ form_row(form.vehicules) }}
                {{ form_row(form.password,{'label':'Mot de passe ', 'attr':{'placeholder':'le mot de passe'}}) }}
                {{ form_row(form.confirm_password ,{'label':'Confirmé le mot de passe', 'attr':{'placeholder':'confirmation mot de passe'}}) }}




                    <button class="login100-form-btn" type="submit">
                        S'inscrire
                    </button>

                {{ form_end(form) }}


    </div>
</div>





<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>