.menu {
	background-color: black;
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0; 
	right: 0;
	color: #000;
	line-height: 1.5;
}
.menu a {
border-right-style: solid;
border-right-color: white;
border-right-width: 0.5px;
}
.menu a:hover { background: #35a6e7; color: white;}  /* Liens survolés */
.menu a:active { background: #35a6e7; color: white; }         /* Liens actifs */
.index {
	background-color: #35a6e7;
	margin-top: 15%;
	width: 50%;
	border-style: outset;
}