<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Loc'pilote!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/font-awesome.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/add_style.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('loc_app/css/style.css')}}"/>
        <link rel="stylesheet" media="(max-width: 800px)" href="{{asset('loc_app/css/style_640.css')}}">
      
        <link rel="stylesheet" href="{{asset('loc_app/css/calendar.css')}}"/>
        <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
        <script src="{{asset('loc_app/js/app.js')}}"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        {% endblock %}
    </head>
    <body style="background-color: #666666;">
      
       
        {% block body %}{% endblock %}
        
    </body>
    {% block menu %}
     <section class="menu">

          <div>
            <a>
              <span class="buttons_menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="36.796" height="32.801" viewBox="0 0 36.796 32.801"><g transform="translate(0.001 -27.797)"><g transform="translate(-0.001 27.798)"><g transform="translate(0 0)"><path d="M36.4,40.753,18.962,27.982a.956.956,0,0,0-1.129,0L.391,40.753A.956.956,0,1,0,1.52,42.3L18.4,29.938,35.275,42.3a.956.956,0,0,0,1.13-1.543Z" transform="translate(0.001 -27.798)" fill="#fff"/></g></g><g transform="translate(4.057 42.512)"><path d="M84.178,232.543a.956.956,0,0,0-.956.956v15.218H75.574V240.41a4.781,4.781,0,0,0-9.561,0v8.307H58.364V233.5a.956.956,0,1,0-1.912,0v16.174a.956.956,0,0,0,.956.956h9.56a.956.956,0,0,0,.952-.882.722.722,0,0,0,0-.074V240.41a2.869,2.869,0,0,1,5.737,0v9.263a.7.7,0,0,0,0,.074.956.956,0,0,0,.952.882h9.56a.956.956,0,0,0,.956-.956V233.5A.956.956,0,0,0,84.178,232.543Z" transform="translate(-56.452 -232.543)" fill="#fff"/></g></g></svg>
                <span>Tableau de bord</span>
              </span>
            </a>
          </div>
  
          <div>
            <a>
              <span class="buttons_menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="36.796" height="32.801" viewBox="0 0 36.796 32.801"><g transform="translate(0.001 -27.797)"><g transform="translate(-0.001 27.798)"><g transform="translate(0 0)"><path d="M36.4,40.753,18.962,27.982a.956.956,0,0,0-1.129,0L.391,40.753A.956.956,0,1,0,1.52,42.3L18.4,29.938,35.275,42.3a.956.956,0,0,0,1.13-1.543Z" transform="translate(0.001 -27.798)" fill="#fff"/></g></g><g transform="translate(4.057 42.512)"><path d="M84.178,232.543a.956.956,0,0,0-.956.956v15.218H75.574V240.41a4.781,4.781,0,0,0-9.561,0v8.307H58.364V233.5a.956.956,0,1,0-1.912,0v16.174a.956.956,0,0,0,.956.956h9.56a.956.956,0,0,0,.952-.882.722.722,0,0,0,0-.074V240.41a2.869,2.869,0,0,1,5.737,0v9.263a.7.7,0,0,0,0,.074.956.956,0,0,0,.952.882h9.56a.956.956,0,0,0,.956-.956V233.5A.956.956,0,0,0,84.178,232.543Z" transform="translate(-56.452 -232.543)" fill="#fff"/></g></g></svg>
                <span>Calendrier</span>
              </span>
            </a>
          </div>
  
          <div  class="active">
            <a>
              <span class="buttons_menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="36.796" height="32.801" viewBox="0 0 36.796 32.801"><g transform="translate(0.001 -27.797)"><g transform="translate(-0.001 27.798)"><g transform="translate(0 0)"><path d="M36.4,40.753,18.962,27.982a.956.956,0,0,0-1.129,0L.391,40.753A.956.956,0,1,0,1.52,42.3L18.4,29.938,35.275,42.3a.956.956,0,0,0,1.13-1.543Z" transform="translate(0.001 -27.798)" fill="#fff"/></g></g><g transform="translate(4.057 42.512)"><path d="M84.178,232.543a.956.956,0,0,0-.956.956v15.218H75.574V240.41a4.781,4.781,0,0,0-9.561,0v8.307H58.364V233.5a.956.956,0,1,0-1.912,0v16.174a.956.956,0,0,0,.956.956h9.56a.956.956,0,0,0,.952-.882.722.722,0,0,0,0-.074V240.41a2.869,2.869,0,0,1,5.737,0v9.263a.7.7,0,0,0,0,.074.956.956,0,0,0,.952.882h9.56a.956.956,0,0,0,.956-.956V233.5A.956.956,0,0,0,84.178,232.543Z" transform="translate(-56.452 -232.543)" fill="#fff"/></g></g></svg>
                <span>Reservations</span>
              </span>
            </a>
          </div>
  
          <div>
            <a>
              <span class="buttons_menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="36.796" height="32.801" viewBox="0 0 36.796 32.801"><g transform="translate(0.001 -27.797)"><g transform="translate(-0.001 27.798)"><g transform="translate(0 0)"><path d="M36.4,40.753,18.962,27.982a.956.956,0,0,0-1.129,0L.391,40.753A.956.956,0,1,0,1.52,42.3L18.4,29.938,35.275,42.3a.956.956,0,0,0,1.13-1.543Z" transform="translate(0.001 -27.798)" fill="#fff"/></g></g><g transform="translate(4.057 42.512)"><path d="M84.178,232.543a.956.956,0,0,0-.956.956v15.218H75.574V240.41a4.781,4.781,0,0,0-9.561,0v8.307H58.364V233.5a.956.956,0,1,0-1.912,0v16.174a.956.956,0,0,0,.956.956h9.56a.956.956,0,0,0,.952-.882.722.722,0,0,0,0-.074V240.41a2.869,2.869,0,0,1,5.737,0v9.263a.7.7,0,0,0,0,.074.956.956,0,0,0,.952.882h9.56a.956.956,0,0,0,.956-.956V233.5A.956.956,0,0,0,84.178,232.543Z" transform="translate(-56.452 -232.543)" fill="#fff"/></g></g></svg>
                <span>Vehicules</span>
              </span>
            </a>
          </div>
  
        <div>
          <a>
            <span class="buttons_menu">
              <svg xmlns="http://www.w3.org/2000/svg" width="36.796" height="32.801" viewBox="0 0 36.796 32.801"><g transform="translate(0.001 -27.797)"><g transform="translate(-0.001 27.798)"><g transform="translate(0 0)"><path d="M36.4,40.753,18.962,27.982a.956.956,0,0,0-1.129,0L.391,40.753A.956.956,0,1,0,1.52,42.3L18.4,29.938,35.275,42.3a.956.956,0,0,0,1.13-1.543Z" transform="translate(0.001 -27.798)" fill="#fff"/></g></g><g transform="translate(4.057 42.512)"><path d="M84.178,232.543a.956.956,0,0,0-.956.956v15.218H75.574V240.41a4.781,4.781,0,0,0-9.561,0v8.307H58.364V233.5a.956.956,0,1,0-1.912,0v16.174a.956.956,0,0,0,.956.956h9.56a.956.956,0,0,0,.952-.882.722.722,0,0,0,0-.074V240.41a2.869,2.869,0,0,1,5.737,0v9.263a.7.7,0,0,0,0,.074.956.956,0,0,0,.952.882h9.56a.956.956,0,0,0,.956-.956V233.5A.956.956,0,0,0,84.178,232.543Z" transform="translate(-56.452 -232.543)" fill="#fff"/></g></g></svg>
              <span>Clients</span>
            </span>
          </a>
        </div>
</section>
    {% endblock %}
{% block javascripts %}{% endblock %}
</html>

