{% extends 'base.html.twig' %}
{% block body %}
  <div class="modal">
  <div class="modal_box">
    <h2>
      Question
    </h2>
    <p>
      Informations
    </p>
    <div class="buttons">
      <a class="cancel">ANNULER</a>
      <a class="valider">VALIDER</a>
    </div>
  </div>
</div>

<header>
  <div class="logo_box">
    <a href="{{ path('loc_home') }}"><img src="{{ asset ('loc_app/img/logo.png')}}" /></a>
  </div>
  <div class="search_box">
    <form class="search-container">
      <input type="text" id="search-bar" placeholder="Que puis-je faire pour vous aujourd'hui ?">
      <button><img class="search-icon" src="{{ asset('loc_app/img/search_icon.png')}}"></button>
    </form>
  </div>
  <div class="user_notifs_box">
    <div class="notif_box">
      
      <span onclick="sub_menu_notif();" class="notif_icon"><img src="{{asset ('loc_app/img/notif_icon.png')}}" /></span>
      
      <ul class="sub_menu notif">
        <li><a>Notif 1</a></li>
        <li><a>Notif 2</a></li>
        <li><a>Notif 3</a></li>
      </ul>
    
    </div>
    
    <div class="user_box" onclick="sub_menu_user();">
      
      <span class="logo_agency"><img src="{{asset('loc_app/img/logo_agency.png')}}" /></span>
      
      <span class="name_agency">Car'Loc Agency <i class="fas fa-angle-down"></i></span>
      
      <ul class="sub_menu user">
        <li><a>Mon compte</a></li>
        <li><a>Mon compte</a></li>
        <li><a>Mon compte</a></li>
      </ul>
    
    </div>
      
  </div>
</header>

<section class="body_content">
  
  <div class="tableau_de_bord">
    
    <div class="module_recap_box">
      
      <h2>
        Vos départs et retours de la journée
      </h2>
      
      <p class="par_infos">
        Vous n'avez pas de rendez-vous prévus aujourd'hui.
      </p>
      
    </div>
    
    <div class="module_recap_box">
      
      <h2>
        Votre prochain départ / retour
      </h2>
      
      <div class="module_recap">
        
        <div class="title_module">
          
          <h3>
            Votre prochain départ/retour a lieu le
          </h3>
          
          <p class="date_infos">
            Mercredi 06 Octobre 2019
          </p>
          
          <span class="horaire_infos">à <span>18h30</span></span>
          
        </div>
        
        <div class="title_module">
          
          <h3>
            Nom
          </h3>
          
          <p class="date_infos">
            VEZIEN
          </p>
          
        </div>
        
        <div class="title_module">
          
          <h3>
            Prénom
          </h3>
          
          <p class="date_infos">
            Guillaume
          </p>
          
        </div>
        
        <div class="title_module">
          
          <h3>
            Téléphone / Mail
          </h3>
          
          <p class="date_infos">
            06.65.33.15.75
          </p>
          
          <span class="horaire_infos"><span>guillaumevezien</span>@gmail.com</span>
          
        </div>
        
        <div class="title_module">
          
          <h3>
            Véhicule
          </h3>
          
          <p class="date_infos">
            Renault Clio 4
          </p>
          
          <span class="horaire_infos">IMMAT : <span>AB-123-CD 45</span></span>
          
        </div>
        
        <div class="title_module">
          
          <h3>
            Actions
          </h3>
          
          <div class="actions">
            
            <span class="edit" onclick="actions_module_recap('edit','123');">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g transform="translate(-1160 -337)"><circle cx="13" cy="13" r="13" transform="translate(1160 337)" fill="#f1f1f1"/><g transform="translate(1167.097 344.042)"><path d="M10.415.749a2.456,2.456,0,0,0-3.476,0L.566,7.12a.319.319,0,0,0-.09.183L0,10.8a.318.318,0,0,0,.09.268.324.324,0,0,0,.225.095.258.258,0,0,0,.043,0l2.107-.285a.321.321,0,0,0-.085-.636l-1.689.228.33-2.439L3.591,10.6a.324.324,0,0,0,.225.095.314.314,0,0,0,.225-.095l6.373-6.371a2.455,2.455,0,0,0,0-3.476Zm-3.353.783L8.133,2.6,2.317,8.418l-1.07-1.07ZM3.819,9.917,2.773,8.871,8.588,3.055,9.635,4.1Zm6.262-6.274-2.56-2.56a1.819,1.819,0,0,1,2.56,2.56Z" transform="translate(0)" fill="#2f9ad9"/></g></g></svg>
            </span>
            
            <span class="view" onclick="actions_module_recap('view','123');">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g transform="translate(-1240 -521)"><circle cx="13" cy="13" r="13" transform="translate(1240 521)" fill="#f1f1f1"/><g transform="translate(1246.272 437.042)"><g transform="translate(0 92.835)"><g transform="translate(0 0)"><path d="M13.369,96.861c-.12-.164-2.984-4.026-6.642-4.026S.205,96.7.085,96.861a.444.444,0,0,0,0,.524c.12.164,2.984,4.026,6.642,4.026s6.522-3.862,6.642-4.026A.443.443,0,0,0,13.369,96.861Zm-6.642,3.662c-2.694,0-5.028-2.563-5.719-3.4.69-.839,3.019-3.4,5.719-3.4s5.027,2.563,5.719,3.4C11.756,97.962,9.427,100.523,6.727,100.523Z" transform="translate(0 -92.835)"/></g></g><g transform="translate(4.066 94.461)"><g transform="translate(0 0)"><path d="M157.383,154.725a2.661,2.661,0,1,0,2.661,2.661A2.664,2.664,0,0,0,157.383,154.725Zm0,4.436a1.774,1.774,0,1,1,1.774-1.774A1.776,1.776,0,0,1,157.383,159.161Z" transform="translate(-154.722 -154.725)"/></g></g></g></g></svg>
            </span>
            
            <span class="delete" onclick="actions_module_recap('delete','123');">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g transform="translate(-1192 -337)"><circle cx="13" cy="13" r="13" transform="translate(1192 337)" fill="#f1f1f1"/><g transform="translate(1200.071 345.069)"><path d="M5.784,4.916,9.649,1.05A.615.615,0,1,0,8.78.181L4.915,4.046,1.049.181A.615.615,0,0,0,.18,1.05L4.046,4.916.18,8.781a.615.615,0,1,0,.869.869L4.915,5.785,8.78,9.65a.615.615,0,1,0,.869-.869Z" fill="#e83f5a"/></g></g></svg>
            </span>
            
          </div>
          
        </div>
        
      </div>
      
      <button>
        Voir toutes les réservations
      </button>
      
    </div>
    
    <div class="module_recap_box">
      
      <h2>
        Vos demandes de réservation
      </h2>
      
      
      <div class="module_recap">
        
        <div class="title_module">
          
          <h3>
            Votre prochaine demande est pour le
          </h3>
          
          <p class="date_infos">
            Mercredi 06 Octobre 2019
          </p>
          
          <span class="horaire_infos">à <span>18h30</span></span>
          
        </div>
        
        <div class="title_module">
          
          <h3>
            Nom
          </h3>
          
          <p class="date_infos">
            VEZIEN
          </p>
          
        </div>
        
        <div class="title_module">
          
          <h3>
            Prénom
          </h3>
          
          <p class="date_infos">
            Guillaume
          </p>
          
        </div>
        
        <div class="title_module">
          
          <h3>
            Téléphone / Mail
          </h3>
          
          <p class="date_infos">
            06.65.33.15.75
          </p>
          
          <span class="horaire_infos"><span>guillaumevezien</span>@gmail.com</span>
          
        </div>
        
        <div class="title_module">
          
          <h3>
            Véhicule
          </h3>
          
          <p class="date_infos">
            Renault Clio 4
          </p>
          
          <span class="horaire_infos">du <span>06/10/2019</span> au <span>13/10/2019</span></span>
          
        </div>
        
        <div class="title_module">
          
          <h3>
            Actions
          </h3>
          
          <div class="actions">
            
            <span class="view" onclick="actions_module_recap('view','123');">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g transform="translate(-1240 -521)"><circle cx="13" cy="13" r="13" transform="translate(1240 521)" fill="#f1f1f1"/><g transform="translate(1246.272 437.042)"><g transform="translate(0 92.835)"><g transform="translate(0 0)"><path d="M13.369,96.861c-.12-.164-2.984-4.026-6.642-4.026S.205,96.7.085,96.861a.444.444,0,0,0,0,.524c.12.164,2.984,4.026,6.642,4.026s6.522-3.862,6.642-4.026A.443.443,0,0,0,13.369,96.861Zm-6.642,3.662c-2.694,0-5.028-2.563-5.719-3.4.69-.839,3.019-3.4,5.719-3.4s5.027,2.563,5.719,3.4C11.756,97.962,9.427,100.523,6.727,100.523Z" transform="translate(0 -92.835)"/></g></g><g transform="translate(4.066 94.461)"><g transform="translate(0 0)"><path d="M157.383,154.725a2.661,2.661,0,1,0,2.661,2.661A2.664,2.664,0,0,0,157.383,154.725Zm0,4.436a1.774,1.774,0,1,1,1.774-1.774A1.776,1.776,0,0,1,157.383,159.161Z" transform="translate(-154.722 -154.725)"/></g></g></g></g></svg>
            </span>
            
            <span class="validate" onclick="actions_module_recap('validate','123');">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g transform="translate(-1240 -521)"><circle cx="13" cy="13" r="13" transform="translate(1240 521)" fill="#f1f1f1"/><g transform="translate(1247.488 462.552)"><g transform="translate(0 67.997)"><path d="M11.343,68.166a.576.576,0,0,0-.814,0l-6.9,6.9L.982,72.412a.576.576,0,0,0-.814.814l3.058,3.058a.576.576,0,0,0,.814,0l7.3-7.3A.576.576,0,0,0,11.343,68.166Z" transform="translate(0 -67.997)" fill="#3dec78"/></g></g></g></svg>
            </span>
            
            <span class="delete" onclick="actions_module_recap('delete','123');">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g transform="translate(-1192 -337)"><circle cx="13" cy="13" r="13" transform="translate(1192 337)" fill="#f1f1f1"/><g transform="translate(1200.071 345.069)"><path d="M5.784,4.916,9.649,1.05A.615.615,0,1,0,8.78.181L4.915,4.046,1.049.181A.615.615,0,0,0,.18,1.05L4.046,4.916.18,8.781a.615.615,0,1,0,.869.869L4.915,5.785,8.78,9.65a.615.615,0,1,0,.869-.869Z" fill="#e83f5a"/></g></g></svg>
            </span>
            
          </div>
          
        </div>
        
      </div>
      
      <button>
        Voir toutes les demandes de réservation
      </button>
      
    </div>
    
  </div>
  
  <div class="today_agenda">
    
    <div class="today_title">
      <h2>
        <?php echo $today_fr; ?>
      </h2>
    </div>
    
    <div class ="container">
      <div class="timings">
        <div> <span> 9:00 </span></div>
        <div class="min"> 9:30 </div>
        <div> <span> 21:00 </span></div>
      </div>

      <div class="days" id="events">
      </div>

   </div>
    
  </div>

  

 </section>
{% endblock %}
