.container {
  height: calc(100vh - 234px);
  padding-top : 20px;
  padding-bottom : 20px;
  width: 100%;
  display: inline-flex;
}

.timings {
  text-align: right;
  padding-right: 10px;
  width: 60px;
  height: calc(100vh - 234px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  font-size: 0.5em;
  box-sizing: border-box
}

.timings span {
  font-size: 200%;
  color: #696969;
}

.days {
  height: calc(100vh - 234px);
  width: calc(100% - 60px);
  padding: 0px 10px;
  background-color: white;
  border-color: #D1D1D1;
  border-style: solid;
  border-width: 0px;
  box-sizing: border-box;
  position : relative;
}

.event {
  background-color: #F7F7F7;
  border-style: solid;
  border-width: 0px;
  border-left-width: 5px;
  border-color: #D1D1D1;
  border-left-color: #2F9AD9;
  padding-left: 10px;
  padding-top: 5px;
  position: absolute;
  font-size: 0.5em;
  box-sizing: border-box;
}

.event .title {
  color: black;
  font-size: 200%;
}

.timings .min{
  opacity : 0.3;
}


@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
}