body{
  padding : 0;
  margin : 0;
  overflow : hidden;
  width : 100vw;
  height : 100vh;
  font-family : 'Montserrat', Arial, Sans serif;
  position : relative;
}

.modal{
  display : none;
}

header{
  position : relative;
  width : calc(100% - 60px);
  top : 0;
  left : 0;
  padding : 12px 30px 12px 30px;
  display : grid;
  grid-template-columns : repeat(3,1fr);
  grid-gap : 0px;
  background : white;
  height : 40px;
  z-index : 99999;
}

header::before{
  position : absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 2px;
  background : linear-gradient(to left, #1C4C99, #27B1D4);
  content : '';
}

header .logo_box{
  width : 100%;
}

header .logo_box a img{
  width : calc(100% /3);
  height : auto;
}

header .search_box .search-container {
  width: 80%;
  margin : auto;
  display: block;
}

header .search_box input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 1rem;
  background : #F7F7F7;
  border : none;
  outline: none;
  border-radius: 30px;
  box-shadow : 0px 0px 5px rgba(0,0,0,0);
}

header .search_box input#search-bar:focus {
  transition: 0.35s ease;
  color: #2F9AD9;
}

header .search_box input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

header .search_box input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

header .search_box input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

header .search_box button{
  background : none;
  border : none;
  position: relative;
  float: right;
  width: 30px;
  height: auto;
  top: -30px;
  right: -15px;
}

header .search_box button .search-icon {
  width : 100%;
  height : auto;
}

header .user_notifs_box{
  width : 100%;
  text-align : right;
}

header .user_notifs_box .user_box{
  position : relative;
  cursor : pointer;
  display : inline-block;
}

header .user_notifs_box .user_box span.logo_agency{
  position : relative;
  display: inline-block;
  margin-right : 5px;
  height : 40px;
  width : 40px;
  border-radius : 30px;
  background : #F7F7F7;
}

header .user_notifs_box .user_box span.logo_agency img{
  position : absolute;
  width : 35px;
  height : 35px;
  top : 50%;
  left : 50%;
  transform : translate(-50%,-50%);
  object-fit : cover;
  border-radius : 30px;
}

header .user_notifs_box .user_box span.name_agency{
  position : relative;
  top : -15px;
}

header .user_notifs_box .notif_box{
  display : inline-block;
  position : relative;
  cursor : pointer;
}

header .user_notifs_box .notif_box span.notif_icon{
  position : relative;
  display: inline-block;
  margin-right : 20px;
  height : 40px;
  width : 40px;
  border-radius : 30px;
  background : #F7F7F7;
}

header .user_notifs_box .notif_box span.notif_icon img{
  position : absolute;
  width : 20px;
  height : auto;
  top : 50%;
  left : 50%;
  transform : translate(-50%,-50%);
  border-radius : 30px;
}

header .user_notifs_box ul.sub_menu.user{
  position : absolute;
  display : none;
  right : 0px;
  top : 40px;
  width : auto;
  min-width : 100px;
  max-width : 250px;
  text-align : center;
  padding : 0;
  padding-top : 10px;
  padding-bottom : 10px;
  margin : 0;
  background : white;
  box-shadow : 0px 0px 10px rgba(0,0,0,0.16);
}

header .user_notifs_box ul.sub_menu.notif{
  position : absolute;
  display : none;
  left : calc(50% - 10px);
  transform : translate(-50%);
  top : 40px;
  width : auto;
  min-width : 100px;
  max-width : 250px;
  text-align : center;
  padding : 0;
  padding-top : 10px;
  padding-bottom : 10px;
  margin : 0;
  background : white;
  box-shadow : 0px 0px 10px rgba(0,0,0,0.16);
}

header .user_notifs_box ul.sub_menu li{
	list-style : none;
	padding-top : 3px;
	padding-bottom : 3px;
	padding-left : 10px;
	padding-right : 10px;
	transition : all 0.5s;
	border-left : solid 2px white;
}

header .user_notifs_box ul.sub_menu li a{
	display : block;
	width : 100%;
  cursor : pointer;
}

header .user_notifs_box ul.sub_menu li:hover{
	border-left : solid 2px #2F9AD9;
}

section.body_content{
  width : 100%;
  height : calc(100vh - 144px);
  overflow : hidden;
  display : flex;
}

.today_agenda{
  width : 350px;
  background : white;
  box-shadow : 0px 0px 10px rgba(0,0,0,0.16);
}

.today_title{
  height : 50px;
  background : linear-gradient(to left, #1C4C99, #27B1D4);
  text-align : center;
  color : white;
  position : relative;
}

.today_title h2{
  padding : 0;
  margin : 0;
  position : absolute;
  width : 100%;
  top : 50%;
  left : 50%;
  transform : translate(-50%,-50%);
  font-size : 20px;
  font-family : 'Montserrat';
}

.today_title h2::before{
  content : '';
  position : absolute;
  left : 50%;
  transform : translateX(-50%);
  height : 2px;
  background : white;
  top : 25px;
  width : 30%;
}

.tableau_de_bord{
  width : calc(100% - 410px);
  padding : 30px;
  height : calc(100vh - 204px);
  overflow-y : auto;
}

.tableau_de_bord::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.tableau_de_bord::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.tableau_de_bord::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.tableau_de_bord::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.tableau_de_bord::-webkit-scrollbar-thumb:active {
  background: #000000;l
}
.tableau_de_bord::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.tableau_de_bord::-webkit-scrollbar-track:hover {
  background: #666666;
}
.tableau_de_bord::-webkit-scrollbar-track:active {
  background: #333333;
}
.tableau_de_bord::-webkit-scrollbar-corner {
  background: transparent;
}

.module_recap_box{
  padding-top : 10px;
  padding-bottom : 10px;
}

.module_recap_box h2{
  margin : 0;
  padding : 0;
  font-size : 18px;
  color : black;
  position : relative;
}

.module_recap_box h2::before{
  content : '';
  position : absolute;
  left : 0;
  height : 2px;
  background : linear-gradient(to left, #1C4C99, #27B1D4);
  top : 25px;
  width : 150px;
}

.module_recap_box p.par_infos{
  font-size : 15px;
  color : #C6C6C6;
}

.module_recap_box button{
  margin : 0;
  padding : 0;
  padding-left : 15px;
  padding-right : 15px;
  padding-top : 7px;
  padding-bottom : 7px;
  border : none;
  background : #E8E8E8;
  border-radius : 30px;
  font-size : 16px;
  color : black;
  position : relative;
  margin-top : 15px;
  cursor : pointer;
  transition : all 0.5s;
}

.module_recap_box button:hover{
  background : #D6D6D6;
}

.module_recap{
  width : calc(100% - 20px);
  display : grid;
  grid-template-columns : 22% 10% 10% 19.33% 19.33% 19.33%;
  margin-top : 20px;
  padding : 10px;
  background : #F9F9F9;
}

.module_recap h3{
  padding : 0;
  margin : 0;
  font-size : 15px;
  color : #C6C6C6;
  font-weight : 300;
  height : auto;
}

.module_recap p.date_infos{
  padding : 0;
  margin : 0;
  padding-top : 10px;
  font-size : 17px;
  color : black;
  font-weight : 500;
  height : auto;
}

.module_recap span.horaire_infos{
  padding : 0;
  margin : 0;
  padding-top : 5px;
  font-size : 15px;
  color : #C6C6C6;
  font-weight : 500;
  height : auto;
}

.module_recap span.horaire_infos span{
  color : #2F9AD9;
}

.module_recap .actions{
  padding-top : 10px;
}

.module_recap .actions span svg{
  width : 40px;
  height : auto;
  margin-left : 5px;
  cursor : pointer;
}

.module_recap .actions span:nth-child(1) svg{
  margin-left : 0;
}

section.menu{
  width : 100%;
  height : 80px;
  background : black;
  z-index : 1;
  position : relative;
  display : grid;
  grid-template-columns : repeat(5,1fr);
  grid-gap : 0;
}

.menu div{
  width : 100%;
  height : 100%;
  position : relative;
}

.menu div a{
  display : block;
  text-align : center;
  position : relative;
  width : 100%;
  height : 100%;
  cursor : pointer;
}

.menu div.active{
  z-index : 1;
}

.menu div.active a{
  background : linear-gradient(to left, #1C4C99, #27B1D4);
}

.menu div.active a::before{
  display : none;
}

.menu div a::before{
  content : '';
  position : absolute;
  left : -2px;
  top : 50%;
  transform  :translateY(-50%);
  width : 2px;
  background : rgba(255,255,255,0.3);
  height : calc(100% - 20px);
}

.menu div a span.buttons_menu{
  position : absolute;
  width : 100%;
  height : auto;
  top : 50%;
  left : 50%;
  transform : translate(-50%,-50%);
}

.menu div a span.buttons_menu svg{
  width : 40px;
  height : auto;
}

.menu div a span.buttons_menu span{
  display : block;
  color : white;
}
